<br />
<br />
<div class="col">
    <div class="col-md-5 offset-md-1"><p>Author: Jan Kowalski the DJ</p></div>
    <div class="col-md-5 offset-md-1"><p>Duration: 5:13min</p></div>
    <div class="col-md-5 offset-md-1"><p>Description: When the dj kowalski has become the most popular dj, this wast the first track whose makes him famous</p></div>
    <div class="col-md-5 offset-md-1"><p>begin at 12.07.2021 12:34</p></div>
    <div class="col-md-5 offset-md-1"><p>canal Radio-Zet</p></div>
</div>
<br />
<br />
<div class="col-lg-6 offset-lg-3">
    <canvas id="barChart"></canvas>
</div>
<br />
<br />
<div class="col-lg-6 offset-lg-3">
    <canvas id="pieChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/chart.js"></script>