<div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-5 mt-1">
            <input type="text" class="form-control" placeholder="Find the track you are looking for...">
        </div>
        <div class="col-md-2">
            <a class="btn btn-light btn-block mt-1" asp-action="" asp-route-id="" type="submit">search</a>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row d-flex">
        <div class="col-md-2 m-1 d-flex">
            <button class="btn btn-light flex-fill">emision</button>
        </div>
        <div class="col-md-2  m-1 d-flex">
            <button class="btn btn-light flex-fill">canal</button>
        </div>
        <div class="col-md-2  m-1 d-flex">
            <button class="btn btn-light flex-fill">duration</button>
        </div>
        <div class="col-md-2  m-1 d-flex">
            <button class="btn btn-light flex-fill">information</button>
        </div>
    </div>
        <br />
        <div class="list-group">
            <a asp-action="Index" asp-controller="TrackDetails" class="list-group-item list-group-item-action">
                <div class="d-flex flex-row mb-1 mt-1">
                    <div>
                        <picture>
                            <img src="~/pictures/poison__the_parish.jpg" class="rounded img-fluid" style="width:auto;">
                        </picture>
                    </div>
                    <div class="row ml-1 flex-fill">
                        <div class="col-md-4">This track is really awesome... warning! causing parish poisoning.</div>
                        <div class="col-md-3">begin at 12.07.2021 12:34</div>
                        <div class="col-md-3">canal Radio-Zet</div>
                        <div class="col-md-2">duration 4:32 min</div>
                    </div>
                </div>

            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex flex-row mb-1 mt-1">
                    <div>
                        <picture>
                            <img src="~/pictures/poison__the_parish.jpg" class="rounded img-fluid" style="width:auto;">
                        </picture>
                    </div>
                    <div class="row ml-1 flex-fill">
                        <div class="col-md-4">This track is really awesome... warning! causing parish poisoning.</div>
                        <div class="col-md-3">begin at 12.07.2021 12:34</div>
                        <div class="col-md-3">canal Radio-Zet</div>
                        <div class="col-md-2">duration 4:32 min</div>
                    </div>
                </div>

            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex flex-row mb-1 mt-1">
                    <div>
                        <picture>
                            <img src="~/pictures/poison__the_parish.jpg" class="rounded img-fluid" style="width:auto;">
                        </picture>
                    </div>
                    <div class="row ml-1 flex-fill">
                        <div class="col-md-4">This track is really awesome... warning! causing parish poisoning.</div>
                        <div class="col-md-3">begin at 12.07.2021 12:34</div>
                        <div class="col-md-3">canal Radio-Zet</div>
                        <div class="col-md-2">duration 4:32 min</div>
                    </div>
                </div>

            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex flex-row mb-1 mt-1">
                    <div>
                        <picture>
                            <img src="~/pictures/poison__the_parish.jpg" class="rounded img-fluid" style="width:auto;">
                        </picture>
                    </div>
                    <div class="row ml-1 flex-fill">
                        <div class="col-md-4">This track is really awesome... warning! causing parish poisoning.</div>
                        <div class="col-md-3">begin at 12.07.2021 12:34</div>
                        <div class="col-md-3">canal Radio-Zet</div>
                        <div class="col-md-2">duration 4:32 min</div>
                    </div>
                </div>

            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex flex-row mb-1 mt-1">
                    <div>
                        <picture>
                            <img src="~/pictures/poison__the_parish.jpg" class="rounded img-fluid" style="width:auto;">
                        </picture>
                    </div>
                    <div class="row ml-1 flex-fill">
                        <div class="col-md-4">This track is really awesome... warning! causing parish poisoning.</div>
                        <div class="col-md-3">begin at 12.07.2021 12:34</div>
                        <div class="col-md-3">canal Radio-Zet</div>
                        <div class="col-md-2">duration 4:32 min</div>
                    </div>
                </div>

            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex flex-row mb-1 mt-1">
                    <div>
                        <picture>
                            <img src="~/pictures/poison__the_parish.jpg" class="rounded img-fluid" style="width:auto;">
                        </picture>
                    </div>
                    <div class="row ml-1 flex-fill">
                        <div class="col-md-4">This track is really awesome... warning! causing parish poisoning.</div>
                        <div class="col-md-3">begin at 12.07.2021 12:34</div>
                        <div class="col-md-3">canal Radio-Zet</div>
                        <div class="col-md-2">duration 4:32 min</div>
                    </div>
                </div>

            </a>
        </div>
    </div>