@model TrackAnalyser.Models.ViewModels.BroadcastListViewModel
@using TrackAnalyser.Utilities

<div>
    <br />
    <br />
    <button id="download" class="col-md-2 small text-center text-white offset-md-10 btn btn-info sticky-top"> Download List </button>

    <div id="filter">
        <div class="row">
            <div class="col-md-5 mt-1">
                <input id="search" type="text" class="form-control" placeholder="Find the track you are looking for...">
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="d-md-flex flex-md-row">
            <div class="col-md-3 d-flex">
                <select id="sortBy" class="btn btn-light m-1 flex-fill">
                    <option selected>none</option>
                    <option value=@StaticDetails.SORT_BY_CANAL>canal</option>
                    <option value=@StaticDetails.SORT_BY_DURATION>duration</option>
                    <option value=@StaticDetails.SORT_BY_EMISSION_DATE>emision</option>
                    <option value=@StaticDetails.SORT_BY_DESCRIPTION>description</option>
                </select>
            </div>
            <div class="col-md-3 d-flex">
                <select id="sortType" class="btn btn-light m-1 flex-fill">
                    <option value=@StaticDetails.SORT_ASCENDING>ascending</option>
                    <option value=@StaticDetails.SORT_DESCENDING>descending</option>
                </select>
            </div>
        </div>
    </div>
    <br />
    <div id="showTracks">
        @await Html.PartialAsync("_ShowTracks", Model)
    </div>
</div>
<script src="~/js/BroadcastList/showTracks.js"></script>
<script src="~/js/BroadcastList/downloadEmissions.js"></script>