@model TrackAnalyser.Models.ViewModels.LoginViewModel.LoginViewModel

<div>
    <br />
    <br />
    <div class="text-center">
        <h3>Sign in or <a asp-action="">Sign up</a> to use Track Analyser</h3>
    </div>
    <br />
    <br />
    <form method="post" asp-action="SignIn">
        <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group col-md-5">
                <label asp-for="Email"></label>
                <input asp-for="Email" type="email" class="form-control" placeholder="Enter email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Enter password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
      
    </form>
</div>
