@model ErrorViewModel

    <div class="col">
        <h1 class="text-danger">Error.</h1>
        <br />
        <h2 class="text-danger">An error occurred while processing your request.</h2>
        <br />
        <br />
        <h3>If you have problem with using our site please send us message at : trackanalyser21@gmail.com</h3>
    </div>